@charset "UTF-8";
#corpo {
    background: #a8c8ca url("../_imagens/fundo.png");
}
#holder-barra-social {
    float: left;
    height: 61px;
    width: 100%;
    position: relative;
    background: url(../_imagens/transparente-preto.png);
    border-bottom: 1px solid #f4f3ea;
    padding-top: 0px;
    padding-bottom: 0px;
}
#barra-social {
    display: block;
    clear: left;
    float: right;
    position: relative;
    right: 50%;
    text-align: center;
}
#barra-social li {
    display: block;
    float: left;
    left: 50%;
    position: relative;
    overflow: hidden;
    width: 32px;
    height: 32px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    border-radius: 40px 40px 40px 40px;
}
#barra-social li a {
    position: absolute;
    height: 64px;
    width: 32px;
    top: 0;
    left: 0px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
#barra-social li a:hover {
    top: -32px;
}
#barra-social .facebook a {
    background-image: url('../_imagens/facebook.png');
}
#barra-social .local a {
    background-image: url('../_imagens/maps.png');
}
#barra-social .youtube a {
    background-image: url('../_imagens/youtube.png');
}

div #logo img{
    display: block;
    margin: 0 auto;
}
div#logo h1{
    text-align: center;
    margin-top: -95px;
    color: rgba(234, 231, 212, 1);
    text-shadow: 4px 4px rgba(115, 87, 79, 1);
    font-family: "Fonte Logo", sans-serif;
    font-size: 39pt;
    -webkit-transform: rotate(350deg);
    -moz-transform: rotate(350deg);
    -o-transform: rotate(350deg);
}
div.interface{
    padding: 0;
    margin: -9px auto 0px auto;
    width: 85%;
    height: 1000px;
    background: #ece9d6 url(../_imagens/textura-papel.png);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.22);
}
nav {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: -5px;
    margin-bottom: 25px;
    float: left;
    width: 100%;
    position: relative;
    background: url(../_imagens/menu-cima.png) repeat-x top left;
    border-bottom: 1px solid #9d9b92;
    text-decoration: none;
}
#nav {
    clear: left;
    display: block;
    float: right;
    position: relative;
    right: 50%;
    text-align: center;
    text-decoration: none;
}
#nav li {
    display: block;
    float: left;
    position: relative;
    left: 50%;
    font-family: mensch, sans-serif;
    word-spacing: -0.1em;
    font-size: 24px;
    margin-right: 0px;
    padding-left: 15px;
    transition: none;
    margin-left: 5px;
    text-decoration: none;
}
#nav a{
    color: #444444;
    text-shadow: 0 1px 0 #ffffff;
    text-decoration: none;
    display: block;
    line-height: 37px;
    height: 37px;
    transition: none;
}
#nav li span{
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 8px;
}
#nav li:hover,
#nav li.marcado{
    background: url("../_imagens/menu-fundo.png") no-repeat 0px -37px;
}
#nav li:hover span,
#nav li.marcado span{
    background: url("../_imagens/menu-fundo.png") no-repeat top right;
}
#nav li:hover a,
#nav li.marcado a{
    color: #fff;
    text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.3);
}