@charset "UTF-8";
@font-face {
    font-family: 'Fonte Logo';
    src: url('../_fontes/ufonts.com_signpainter-housescript.ttf');
}
@font-face {
    font-family: 'mensch';
    src: url('../_fontes/mensch.ttf');
}
@media only screen and (max-width: 767px) and (min-width: 200px) {
    #selecao {
        display: block;
        width: 85%;
        margin-left: 20px;
    }

    #menuNormal {
        display: none;
    }
}
nav select {
    display: none;
}
